<h1>{{ element.type }} {{ element.name }}
{%- if tag_settings[element.type].callable -%}(
    {%- for param in element.attributes.params %}
        {{ param.name }}{%- if param.default != None %}={{ param.default }}{%- endif %}
        {%- if param.is_sequenced %}...{%- endif %}
        {%- if not loop.last %}, {%- endif %}
    {%- endfor -%}
){%- endif %}
</h1>
<table>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Default</th>
        <th>Description</th>
    </tr>
    {%- if element.attributes.params %}
    {%- for param in element.attributes.params %}
        <tr>
            <td>{{ param.name }}</td>
            <td>{{ param.type }}</td>
            <td>{{ param.default }}</td>
            <td>{{ param.description }}</td>
        </tr>
    {%- endfor %}
    {%- endif %}
</table>
<div>Description: {{ element.description }}</div>
<div>File: <a href="../{{ element.sourcepath }}#line{{ element.startline }}">{{ element.filepath }}</a> Line: {{ element.startline }}</div>
{% if element.author %}
    <div>
        Author: {{ element.author }}
    </div>
{% endif %}
{% for _element in element.properties.values() %}
    {% if _element.is_separate %}
        <h2><a href="../{{ _element.doc_element_path }}">{{ _element.namepath }}</a></h2>
    {% else %}
        {{ render_element(_element) }}
    {% endif %}
{% endfor %}
