<h1>{{ element.type }} {{ element.name }}</h1>
<div>Description: {{ element.description }}</div>
<div>File: <a href="../{{ element.sourcepath }}#line{{ element.startline }}">{{ element.filepath }}</a> Line: {{ element.startline }}</div>
{% if element.author %}
    <div>
        Author: {{ element.author }}
    </div>
{% endif %}
{% for _element in element.properties.values() %}
    {% if _element.is_separate %}
        <h2><a href="../{{ _element.doc_element_path }}">{{ _element.namepath }}</a></h2>
    {% else %}
        {{ render_element(_element) }}
    {% endif %}
{% endfor %}